## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
charity_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
charity_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
charity_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
charity_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_count = charity_df['APPLICATION_TYPE'].value_counts()
application_type_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_type_replace = list(application_type_count[application_type_count < 500].index)

# Replace in dataframe
for app in app_type_replace:
    charity_df['APPLICATION_TYPE'] = charity_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
charity_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = charity_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_value_counts = class_counts[class_counts > 1]
class_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in class_replace:
    charity_df['CLASSIFICATION'] = charity_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
charity_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
app_numeric_df = pd.get_dummies(charity_df)
app_numeric_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = app_numeric_df['IS_SUCCESSFUL']
X = app_numeric_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
!pip install keras_tuner
import keras_tuner as kt

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 20

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="sigmoid"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Collecting keras_tuner
  Downloading keras_tuner-1.4.7-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (3.4.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (24.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (2.32.3)
Collecting kt-legacy (from keras_tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl.metadata (221 bytes)
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from keras->keras_tuner) (1.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from keras->keras_tuner) (1.26.4)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras->keras_tuner) (13.9.3)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras->keras_tuner) (0.0.8)
Requirement already satisfied: h5py in /usr/local/lib/python3.10/dist-packages (from keras->keras_tuner) (3.11.0)
Requirement already satisfied: optree in /usr/local/lib/python3.10/dist-packages (from keras->keras_tuner) (0.13.0)
Requirement already satisfied: ml-dtypes in /usr/local/lib/python3.10/dist-packages (from keras->keras_tuner) (0.4.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2024.8.30)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from optree->keras->keras_tuner) (4.12.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras->keras_tuner) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras->keras_tuner) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras->keras_tuner) (0.1.2)
Downloading keras_tuner-1.4.7-py3-none-any.whl (129 kB)
    129.1/129.1 kB 2.5 MB/s eta 0:00:00
Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Installing collected packages: kt-legacy, keras_tuner
Successfully installed keras_tuner-1.4.7 kt-legacy-1.0.5

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 10)                               440

 dense_1 (Dense)                       (None, 20)                               220

 dense_2 (Dense)                       (None, 1)                                 21

 Total params: 681 (2.66 KB)

 Trainable params: 681 (2.66 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804  3s 2ms/step - accuracy: 0.6547 - loss: 0.6297
Epoch 2/50
804/804  2s 2ms/step - accuracy: 0.7310 - loss: 0.5629
Epoch 3/50
804/804  1s 2ms/step - accuracy: 0.7309 - loss: 0.5579
Epoch 4/50
804/804  2s 3ms/step - accuracy: 0.7349 - loss: 0.5518
Epoch 5/50
804/804  2s 2ms/step - accuracy: 0.7296 - loss: 0.5610
Epoch 6/50
804/804  2s 2ms/step - accuracy: 0.7299 - loss: 0.5550
Epoch 7/50
804/804  3s 2ms/step - accuracy: 0.7256 - loss: 0.5555
Epoch 8/50
804/804  3s 2ms/step - accuracy: 0.7279 - loss: 0.5547
Epoch 9/50
804/804  1s 2ms/step - accuracy: 0.7316 - loss: 0.5519
Epoch 10/50
804/804  3s 3ms/step - accuracy: 0.7346 - loss: 0.5490
Epoch 11/50
804/804  2s 3ms/step - accuracy: 0.7302 - loss: 0.5525
Epoch 12/50
804/804  1s 2ms/step - accuracy: 0.7315 - loss: 0.5511
Epoch 13/50
804/804  2s 2ms/step - accuracy: 0.7318 - loss: 0.5498
Epoch 14/50
804/804  3s 2ms/step - accuracy: 0.7312 - loss: 0.5504
Epoch 15/50
804/804  1s 2ms/step - accuracy: 0.7360 - loss: 0.5449
Epoch 16/50
804/804  3s 2ms/step - accuracy: 0.7282 - loss: 0.5518
Epoch 17/50
804/804  3s 2ms/step - accuracy: 0.7331 - loss: 0.5494
Epoch 18/50
804/804  1s 2ms/step - accuracy: 0.7373 - loss: 0.5433
Epoch 19/50
804/804  2s 2ms/step - accuracy: 0.7333 - loss: 0.5453
Epoch 20/50
804/804  3s 2ms/step - accuracy: 0.7334 - loss: 0.5467
Epoch 21/50
804/804  3s 2ms/step - accuracy: 0.7318 - loss: 0.5446
Epoch 22/50
804/804  3s 3ms/step - accuracy: 0.7322 - loss: 0.5450
Epoch 23/50
804/804  2s 2ms/step - accuracy: 0.7344 - loss: 0.5446
Epoch 24/50
804/804  3s 2ms/step - accuracy: 0.7328 - loss: 0.5464
Epoch 25/50
804/804  3s 2ms/step - accuracy: 0.7325 - loss: 0.5470
Epoch 26/50
804/804  1s 2ms/step - accuracy: 0.7331 - loss: 0.5449
Epoch 27/50
804/804  3s 2ms/step - accuracy: 0.7352 - loss: 0.5443
Epoch 28/50
804/804  2s 2ms/step - accuracy: 0.7319 - loss: 0.5460
Epoch 29/50
804/804  2s 2ms/step - accuracy: 0.7302 - loss: 0.5528
Epoch 30/50
804/804  1s 2ms/step - accuracy: 0.7336 - loss: 0.5438
Epoch 31/50
804/804  3s 2ms/step - accuracy: 0.7316 - loss: 0.5472
Epoch 32/50
804/804  1s 2ms/step - accuracy: 0.7329 - loss: 0.5453
Epoch 33/50
804/804  3s 2ms/step - accuracy: 0.7317 - loss: 0.5458
Epoch 34/50
804/804  4s 3ms/step - accuracy: 0.7388 - loss: 0.5401
Epoch 35/50
804/804  4s 2ms/step - accuracy: 0.7348 - loss: 0.5419
Epoch 36/50
804/804  3s 2ms/step - accuracy: 0.7310 - loss: 0.5487
Epoch 37/50
804/804  1s 2ms/step - accuracy: 0.7375 - loss: 0.5415
Epoch 38/50
804/804  1s 2ms/step - accuracy: 0.7353 - loss: 0.5412
Epoch 39/50
804/804  1s 2ms/step - accuracy: 0.7359 - loss: 0.5434
Epoch 40/50
804/804  4s 3ms/step - accuracy: 0.7364 - loss: 0.5448
Epoch 41/50
804/804  1s 2ms/step - accuracy: 0.7318 - loss: 0.5466
Epoch 42/50
804/804  3s 2ms/step - accuracy: 0.7284 - loss: 0.5494
Epoch 43/50
804/804  2s 2ms/step - accuracy: 0.7358 - loss: 0.5409
Epoch 44/50
804/804  1s 2ms/step - accuracy: 0.7355 - loss: 0.5442
Epoch 45/50
804/804  3s 2ms/step - accuracy: 0.7282 - loss: 0.5510
Epoch 46/50
804/804  3s 2ms/step - accuracy: 0.7321 - loss: 0.5440
Epoch 47/50
804/804  1s 2ms/step - accuracy: 0.7348 - loss: 0.5413
Epoch 48/50
804/804  3s 2ms/step - accuracy: 0.7357 - loss: 0.5439
Epoch 49/50
804/804  1s 2ms/step - accuracy: 0.7344 - loss: 0.5438
Epoch 50/50
804/804  3s 2ms/step - accuracy: 0.7353 - loss: 0.5424

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 5ms/step - accuracy: 0.7287 - loss: 0.5533
Loss: 0.5533236861228943, Accuracy: 0.7287463545799255

In [29]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization1.keras')

In [19]:
# Second time:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 15
hidden_nodes_layer2 = 25
hidden_nodes_layer3 = 25
nn_model = tf.keras.models.Sequential()

In [20]:
# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="sigmoid"))

# 3rd hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense_3 (Dense)                       (None, 15)                               660

 dense_4 (Dense)                       (None, 25)                               400

 dense_5 (Dense)                       (None, 25)                               650

 dense_6 (Dense)                       (None, 1)                                 26

 Total params: 1,736 (6.78 KB)

 Trainable params: 1,736 (6.78 KB)

 Non-trainable params: 0 (0.00 B)

In [21]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804  3s 2ms/step - accuracy: 0.6735 - loss: 0.6156
Epoch 2/50
804/804  1s 2ms/step - accuracy: 0.7228 - loss: 0.5631
Epoch 3/50
804/804  1s 2ms/step - accuracy: 0.7333 - loss: 0.5503
Epoch 4/50
804/804  3s 3ms/step - accuracy: 0.7346 - loss: 0.5490
Epoch 5/50
804/804  2s 3ms/step - accuracy: 0.7306 - loss: 0.5513
Epoch 6/50
804/804  2s 2ms/step - accuracy: 0.7304 - loss: 0.5528
Epoch 7/50
804/804  2s 2ms/step - accuracy: 0.7377 - loss: 0.5433
Epoch 8/50
804/804  3s 2ms/step - accuracy: 0.7327 - loss: 0.5492
Epoch 9/50
804/804  1s 2ms/step - accuracy: 0.7326 - loss: 0.5487
Epoch 10/50
804/804  1s 2ms/step - accuracy: 0.7347 - loss: 0.5434
Epoch 11/50
804/804  4s 3ms/step - accuracy: 0.7306 - loss: 0.5472
Epoch 12/50
804/804  2s 2ms/step - accuracy: 0.7355 - loss: 0.5427
Epoch 13/50
804/804  2s 2ms/step - accuracy: 0.7353 - loss: 0.5449
Epoch 14/50
804/804  1s 2ms/step - accuracy: 0.7359 - loss: 0.5421
Epoch 15/50
804/804  1s 2ms/step - accuracy: 0.7377 - loss: 0.5423
Epoch 16/50
804/804  1s 2ms/step - accuracy: 0.7312 - loss: 0.5469
Epoch 17/50
804/804  1s 2ms/step - accuracy: 0.7336 - loss: 0.5429
Epoch 18/50
804/804  3s 3ms/step - accuracy: 0.7311 - loss: 0.5485
Epoch 19/50
804/804  2s 2ms/step - accuracy: 0.7304 - loss: 0.5474
Epoch 20/50
804/804  2s 2ms/step - accuracy: 0.7348 - loss: 0.5420
Epoch 21/50
804/804  1s 2ms/step - accuracy: 0.7369 - loss: 0.5411
Epoch 22/50
804/804  1s 2ms/step - accuracy: 0.7338 - loss: 0.5442
Epoch 23/50
804/804  1s 2ms/step - accuracy: 0.7352 - loss: 0.5441
Epoch 24/50
804/804  3s 2ms/step - accuracy: 0.7348 - loss: 0.5453
Epoch 25/50
804/804  3s 3ms/step - accuracy: 0.7331 - loss: 0.5450
Epoch 26/50
804/804  4s 2ms/step - accuracy: 0.7378 - loss: 0.5408
Epoch 27/50
804/804  3s 2ms/step - accuracy: 0.7359 - loss: 0.5437
Epoch 28/50
804/804  1s 2ms/step - accuracy: 0.7388 - loss: 0.5421
Epoch 29/50
804/804  3s 2ms/step - accuracy: 0.7313 - loss: 0.5474
Epoch 30/50
804/804  2s 3ms/step - accuracy: 0.7334 - loss: 0.5431
Epoch 31/50
804/804  2s 2ms/step - accuracy: 0.7356 - loss: 0.5413
Epoch 32/50
804/804  1s 2ms/step - accuracy: 0.7330 - loss: 0.5435
Epoch 33/50
804/804  3s 2ms/step - accuracy: 0.7357 - loss: 0.5406
Epoch 34/50
804/804  1s 2ms/step - accuracy: 0.7343 - loss: 0.5425
Epoch 35/50
804/804  3s 2ms/step - accuracy: 0.7343 - loss: 0.5448
Epoch 36/50
804/804  3s 3ms/step - accuracy: 0.7358 - loss: 0.5423
Epoch 37/50
804/804  2s 3ms/step - accuracy: 0.7345 - loss: 0.5436
Epoch 38/50
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5411
Epoch 39/50
804/804  3s 2ms/step - accuracy: 0.7357 - loss: 0.5424
Epoch 40/50
804/804  3s 2ms/step - accuracy: 0.7339 - loss: 0.5406
Epoch 41/50
804/804  3s 2ms/step - accuracy: 0.7385 - loss: 0.5388
Epoch 42/50
804/804  3s 3ms/step - accuracy: 0.7393 - loss: 0.5375
Epoch 43/50
804/804  1s 2ms/step - accuracy: 0.7334 - loss: 0.5428
Epoch 44/50
804/804  2s 2ms/step - accuracy: 0.7376 - loss: 0.5384
Epoch 45/50
804/804  1s 2ms/step - accuracy: 0.7405 - loss: 0.5361
Epoch 46/50
804/804  1s 2ms/step - accuracy: 0.7327 - loss: 0.5440
Epoch 47/50
804/804  1s 2ms/step - accuracy: 0.7397 - loss: 0.5397
Epoch 48/50
804/804  3s 3ms/step - accuracy: 0.7342 - loss: 0.5424
Epoch 49/50
804/804  2s 3ms/step - accuracy: 0.7413 - loss: 0.5341
Epoch 50/50
804/804  1s 2ms/step - accuracy: 0.7275 - loss: 0.5528

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 5ms/step - accuracy: 0.7284 - loss: 0.5561
Loss: 0.5561069250106812, Accuracy: 0.728396475315094

In [31]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization2.keras')

In [24]:
# Third try:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 25
hidden_nodes_layer3 = 20
nn_model = tf.keras.models.Sequential()

In [25]:
# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="sigmoid"))

# 3rd hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"

 Layer (type)                          Output Shape                         Param #

 dense_7 (Dense)                       (None, 30)                             1,320

 dense_8 (Dense)                       (None, 25)                               775

 dense_9 (Dense)                       (None, 20)                               520

 dense_10 (Dense)                      (None, 1)                                 21

 Total params: 2,636 (10.30 KB)

 Trainable params: 2,636 (10.30 KB)

 Non-trainable params: 0 (0.00 B)

In [26]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804  3s 2ms/step - accuracy: 0.6632 - loss: 0.6251
Epoch 2/50
804/804  2s 3ms/step - accuracy: 0.7255 - loss: 0.5683
Epoch 3/50
804/804  2s 2ms/step - accuracy: 0.7358 - loss: 0.5530
Epoch 4/50
804/804  2s 2ms/step - accuracy: 0.7314 - loss: 0.5543
Epoch 5/50
804/804  3s 2ms/step - accuracy: 0.7324 - loss: 0.5523
Epoch 6/50
804/804  3s 2ms/step - accuracy: 0.7333 - loss: 0.5518
Epoch 7/50
804/804  3s 3ms/step - accuracy: 0.7293 - loss: 0.5511
Epoch 8/50
804/804  3s 3ms/step - accuracy: 0.7340 - loss: 0.5464
Epoch 9/50
804/804  4s 2ms/step - accuracy: 0.7342 - loss: 0.5482
Epoch 10/50
804/804  1s 2ms/step - accuracy: 0.7322 - loss: 0.5519
Epoch 11/50
804/804  1s 2ms/step - accuracy: 0.7316 - loss: 0.5488
Epoch 12/50
804/804  1s 2ms/step - accuracy: 0.7334 - loss: 0.5460
Epoch 13/50
804/804  3s 2ms/step - accuracy: 0.7319 - loss: 0.5440
Epoch 14/50
804/804  2s 3ms/step - accuracy: 0.7366 - loss: 0.5432
Epoch 15/50
804/804  2s 2ms/step - accuracy: 0.7303 - loss: 0.5476
Epoch 16/50
804/804  3s 2ms/step - accuracy: 0.7366 - loss: 0.5426
Epoch 17/50
804/804  1s 2ms/step - accuracy: 0.7323 - loss: 0.5454
Epoch 18/50
804/804  1s 2ms/step - accuracy: 0.7321 - loss: 0.5467
Epoch 19/50
804/804  3s 2ms/step - accuracy: 0.7313 - loss: 0.5486
Epoch 20/50
804/804  2s 2ms/step - accuracy: 0.7382 - loss: 0.5400
Epoch 21/50
804/804  3s 3ms/step - accuracy: 0.7420 - loss: 0.5361
Epoch 22/50
804/804  3s 3ms/step - accuracy: 0.7349 - loss: 0.5438
Epoch 23/50
804/804  2s 2ms/step - accuracy: 0.7361 - loss: 0.5437
Epoch 24/50
804/804  1s 2ms/step - accuracy: 0.7311 - loss: 0.5469
Epoch 25/50
804/804  3s 2ms/step - accuracy: 0.7343 - loss: 0.5433
Epoch 26/50
804/804  3s 3ms/step - accuracy: 0.7359 - loss: 0.5398
Epoch 27/50
804/804  2s 2ms/step - accuracy: 0.7335 - loss: 0.5429
Epoch 28/50
804/804  2s 2ms/step - accuracy: 0.7384 - loss: 0.5382
Epoch 29/50
804/804  3s 2ms/step - accuracy: 0.7308 - loss: 0.5479
Epoch 30/50
804/804  1s 2ms/step - accuracy: 0.7398 - loss: 0.5382
Epoch 31/50
804/804  1s 2ms/step - accuracy: 0.7342 - loss: 0.5440
Epoch 32/50
804/804  3s 2ms/step - accuracy: 0.7339 - loss: 0.5415
Epoch 33/50
804/804  3s 2ms/step - accuracy: 0.7366 - loss: 0.5386
Epoch 34/50
804/804  2s 2ms/step - accuracy: 0.7378 - loss: 0.5392
Epoch 35/50
804/804  3s 2ms/step - accuracy: 0.7392 - loss: 0.5386
Epoch 36/50
804/804  2s 2ms/step - accuracy: 0.7306 - loss: 0.5466
Epoch 37/50
804/804  3s 2ms/step - accuracy: 0.7381 - loss: 0.5385
Epoch 38/50
804/804  3s 3ms/step - accuracy: 0.7375 - loss: 0.5402
Epoch 39/50
804/804  2s 2ms/step - accuracy: 0.7380 - loss: 0.5393
Epoch 40/50
804/804  3s 2ms/step - accuracy: 0.7330 - loss: 0.5438
Epoch 41/50
804/804  3s 2ms/step - accuracy: 0.7390 - loss: 0.5375
Epoch 42/50
804/804  1s 2ms/step - accuracy: 0.7401 - loss: 0.5364
Epoch 43/50
804/804  1s 2ms/step - accuracy: 0.7348 - loss: 0.5446
Epoch 44/50
804/804  3s 3ms/step - accuracy: 0.7449 - loss: 0.5317
Epoch 45/50
804/804  2s 2ms/step - accuracy: 0.7372 - loss: 0.5352
Epoch 46/50
804/804  1s 2ms/step - accuracy: 0.7354 - loss: 0.5387
Epoch 47/50
804/804  3s 2ms/step - accuracy: 0.7401 - loss: 0.5381
Epoch 48/50
804/804  1s 2ms/step - accuracy: 0.7367 - loss: 0.5350
Epoch 49/50
804/804  1s 2ms/step - accuracy: 0.7372 - loss: 0.5426
Epoch 50/50
804/804  2s 2ms/step - accuracy: 0.7364 - loss: 0.5414

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 5ms/step - accuracy: 0.7229 - loss: 0.5584
Loss: 0.5583944320678711, Accuracy: 0.7229154706001282

In [30]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization3.keras')